html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  padding: 0 1em;
  width: 100%;
  max-width: 80ch;
}

textarea {
  display: block;
  margin: 1em 0;
  width: 100%;
  height: 5em;
  resize: none;
}